{% extends "base.html" %}
{% load static %}

{% block title %}SacBase - login{% endblock %}

<link rel="stylesheet" href="{% static 'usuario/css/styles.css' %}">
{% block page_title %}Login{% endblock %}
{% block content %}

<form id="loginForm">
  {% csrf_token %}
  <input
    name="username"
    class="smart-input"
    placeholder="Usuário"
    required
  >

  <input
    type="password"
    name="password"
    placeholder="Senha"
    required
  >

  <button type="submit" class="btn btn-primary show-loader">Entrar</button>
</form>
<button id="teste" type="button" class="btn btn-primary">TESTE</button>

{% endblock %}

{% block scripts %}
  {{ sisVar|json_script:"sisDados" }}
  <script type="module" src="{% static 'usuario/js/scripts.js' %}"></script>
{% endblock %}